*{
    margin: 0;
}
body{
    background-color: wheat;
}
#parent{
    display: grid;
    grid-template-areas:
    'header header header'
    'navigation navigation navigation'
    'content content content'
     ;

}
header{
     text-align: center;
     background-color: wheat;
     grid-area: header;
}
nav{
    text-align: center;
    grid-area: navigation;
    justify-content: space-between;
    list-style: none;
    display: flex;
    margin: 5%;
    padding: 2%;    
    background-color: green;
    border-style: groove;
    border-radius: 50px;
    
    
}

button{
    
    border: 1 solid;
    border-radius: 10px;
    background-color: yellow;
    text-align: center;
    color: green;
}

button a {
    color: inherit;
    font-size: x-large;
    font-style: italic;
    border-radius: inherit;
    

}
button  :hover {
    
   background-color: yellowgreen;


}
main{

    border:  1px inherit solid ;
    border-radius: 10px;
    text-align: center;

}
main video{

    border-radius: 10px;

}

@media screen and (max-width:600px ) {

    nav,main{
        width: 100%;
    }

    
}